.confirm-message {
  text-align: center;
  font-size: 16px;
  margin: 30px 0 30px 0;
}

.confirm-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.confirm-buttons button {
  padding: 8px 14px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-weight: 600;
}

.confirm-buttons button:first-child {
  background-color: #ccc;
  color: #333;
}

.confirm-buttons button:last-child {
  background-color: #e74c3c;
  color: #fff;
}
